---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- System:
  - CPU:
      widget:
        type: glances
        url: https://glances.{{HOMEPAGE_VAR_DOMAIN}}
        username: {{HOMEPAGE_VAR_CADDY_USER}} # optional if auth enabled in Glances
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}} # optional if auth enabled in Glances
        version: 4 # required only if running glances v4 or higher, defaults to 3
        metric: cpu

  - RAM:
      widget:
        type: glances
        url: https://glances.{{HOMEPAGE_VAR_DOMAIN}}
        username: {{HOMEPAGE_VAR_CADDY_USER}} # optional if auth enabled in Glances
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}} # optional if auth enabled in Glances
        version: 4 # required only if running glances v4 or higher, defaults to 3
        metric: memory

  - GPU:
      widget:
        type: glances
        url: https://glances.{{HOMEPAGE_VAR_DOMAIN}}
        username: {{HOMEPAGE_VAR_CADDY_USER}} # optional if auth enabled in Glances
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}} # optional if auth enabled in Glances
        version: 4 # required only if running glances v4 or higher, defaults to 3
        metric: gpu:nvidia0

  - SSD Disk:
      widget:
        type: glances
        url: https://glances.{{HOMEPAGE_VAR_DOMAIN}}
        username: {{HOMEPAGE_VAR_CADDY_USER}} # optional if auth enabled in Glances
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}} # optional if auth enabled in Glances
        version: 4 # required only if running glances v4 or higher, defaults to 3
        metric: disk:sda

  - HDD Disk:
      widget:
        type: glances
        url: https://glances.{{HOMEPAGE_VAR_DOMAIN}}
        username: {{HOMEPAGE_VAR_CADDY_USER}} # optional if auth enabled in Glances
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}} # optional if auth enabled in Glances
        version: 4 # required only if running glances v4 or higher, defaults to 3
        metric: disk:sdb

  - Network:
      widget:
        type: glances
        url: https://glances.{{HOMEPAGE_VAR_DOMAIN}}
        username: {{HOMEPAGE_VAR_CADDY_USER}} # optional if auth enabled in Glances
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}} # optional if auth enabled in Glances
        version: 4 # required only if running glances v4 or higher, defaults to 3
        metric: network:br0

- Media:
  - Jellyseerr:
      icon: jellyseerr
      description: Requests Manager for Media Library
      href: https://jellyseerr.{{HOMEPAGE_VAR_DOMAIN}}
      container: jellyseerr
      server: my-docker
      widget:
        type: jellyseerr
        url: http://jellyseerr:5055
        key: {{HOMEPAGE_VAR_JELLYSEERR_API_KEY}}

  - Jellyfin:
      icon: jellyfin
      description: Multimedia Server
      href: https://jellyfin.{{HOMEPAGE_VAR_DOMAIN}}/
      container: jellyfin
      server: my-docker
      widget:
        type: jellyfin
        url: http://jellyfin:8096
        key: {{HOMEPAGE_VAR_JELLYFIN_API_KEY}}
        enableBlocks: true
        enableNowPlaying: false
  - Prowlarr:
      icon: prowlarr
      description: Indexers Manager
      href: https://prowlarr.{{HOMEPAGE_VAR_DOMAIN}}/
      container: prowlarr
      server: my-docker
      widget:
        type: prowlarr
        url: http://prowlarr:9696
        key: {{HOMEPAGE_VAR_PROWLARR_API_KEY}}
  - Radarr:
      icon: radarr
      description: Movies Manager
      href: https://radarr.{{HOMEPAGE_VAR_DOMAIN}}/
      container: radarr
      server: my-docker
      widget:
        type: radarr
        fields: ["wanted", "queued"]
        url: http://radarr:7878
        key: {{HOMEPAGE_VAR_RADARR_API_KEY}}
  - Sonarr:
      icon: sonarr
      description: Series Manager
      href: https://sonarr.{{HOMEPAGE_VAR_DOMAIN}}/
      container: sonarr
      server: my-docker
      widget:
        type: sonarr
        fields: ["wanted", "queued"]
        url: http://sonarr:8989
        key: {{HOMEPAGE_VAR_SONARR_API_KEY}}
  - Bazarr:
      icon: bazarr
      description: Subtitles Manager
      href: https://bazarr.{{HOMEPAGE_VAR_DOMAIN}}/
      container: bazarr
      server: my-docker
      widget:
        type: bazarr
        url: http://bazarr:6767
        key: {{HOMEPAGE_VAR_BAZARR_API_KEY}}

- Calendar:
  - "":
      widget:
        type: calendar
        view: monthly # optional - possible values monthly, agenda
        showTime: true # optional - show time for event happening today - defaults to false
        integrations: # optional
            - type: sonarr
              service_group: Media # group name where widget exists
              service_name: Sonarr # service name for that widget
              color: teal # optional - defaults to pre-defined color for the service (teal for sonarr)
              params: # optional - additional params for the service
              unmonitored: true # optional - defaults to false, used with *arr stack
            - type: radarr
              service_group: Media # group name where widget exists
              service_name: Radarr # service name for that widget
              color: # optional - defaults to pre-defined color for the service (teal for sonarr)
              params: # optional
              unmonitored: true

- Data1:
  - WUD:
      icon: whats-up-docker
      description: Docker Container Version Manager
      href: https://wud.{{HOMEPAGE_VAR_DOMAIN}}/
      container: wud
      server: my-docker
      widget:
        type: whatsupdocker
        url: http://wud:3000
        username: {{HOMEPAGE_VAR_WUD_USER}}
        password: {{HOMEPAGE_VAR_WUD_PASSWORD}}
  - Uptime:
      icon: uptime-kuma
      description: Uptime Monitor
      href: https://up.{{HOMEPAGE_VAR_DOMAIN}}/status/haivita
      container: uptime-kuma
      server: my-docker
      widget:
        type: uptimekuma
        url: http://uptime-kuma:3001
        slug: haivita
  - Scrutiny:
      icon: scrutiny
      description: Scrutiny
      href: https://disk.{{HOMEPAGE_VAR_DOMAIN}}/
      container: scrutiny
      server: my-docker
      widget:
        type: scrutiny
        url: http://scrutiny:8080
        username: {{HOMEPAGE_VAR_CADDY_USER}}
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}}

- Data2:
  - Caddy:
      icon: caddy
      description: Web Server
      container: caddy
      server: my-docker
      widget:
        type: caddy
        url: http://caddy:2019
  - Speedtest:
      icon: speedtest-tracker
      href: https://speed.haivita.top
      description: Monitor internet speed
      container: speedtest-tracker
      server: my-docker
      widget:
        type: speedtest
        url: http://speedtest-tracker:80
        bitratePrecision: 3 # optional, default is 0
  - Netdata:
      icon: netdata
      description: Real-Time Monitoring
      container: netdata
      server: my-docker
      href: https://mon.{{HOMEPAGE_VAR_DOMAIN}}/
      widget:
        type: netdata
        url: https://mon.{{HOMEPAGE_VAR_DOMAIN}}/
        username: {{HOMEPAGE_VAR_CADDY_USER}}
        password: {{HOMEPAGE_VAR_CADDY_PASSWORD}}

- Services:
  - qBittorrent:
      icon: qbittorrent
      description: P2P Download Manager
      href: https://qbit.{{HOMEPAGE_VAR_DOMAIN}}/
      container: qbittorrent
      server: my-docker
      widget:
        type: qbittorrent
        url: http://qbittorrent:8080
        username: {{HOMEPAGE_VAR_QBIT_USER}}
        password: {{HOMEPAGE_VAR_QBIT_PASSWORD}}
  # - "Home Assistant":
  #     icon: home-assistant
  #     description: Smart Home Manager
  #     href: https://home.{{HOMEPAGE_VAR_DOMAIN}}/
  #     container: homeassistant
  #     widget:
  #       type: homeassistant
  #       url: http://homeassistant:8123
  #       key: {{HOMEPAGE_VAR_HOME_ASSISTANT_API_KEY}}
  #       custom:
  #         - template: "{{states.switch|selectattr('state','equalto','on')|list|length}}"
  #           label: switches on
  #         - state: weather.forecast_home
  #           label: wind speed
  #           value: "{attributes.wind_speed} {attributes.wind_speed_unit}"
  # - "Open WebUI":
  #     icon: open-webui-light
  #     description: Chatbot
  #     href: https://chat.{{HOMEPAGE_VAR_DOMAIN}}/
  #     container: open-webui
  #     server: my-docker
  - "File":
      icon: filebrowser
      href: https://file.{{HOMEPAGE_VAR_DOMAIN}}
      container: filebrowser
      server: my-docker
      description: File Manager
  - "Image":
      icon: immich
      description: Photo and Video Manager
      href: https://image.{{HOMEPAGE_VAR_DOMAIN}}
      container: immich_server
      server: my-docker
      widget:
        type: immich
        url: http://immich_server:2283
        key: {{HOMEPAGE_VAR_IMMICH_API_KEY}}
        version: 2
